

<div class="container">
	<div id="wrapper">
		<% combo = Meat.new_meat_combo %>
	 	<h1 id="jumbo"><%= Meat.name_part(combo[0], 1)%><%= Meat.name_part(combo[1], 2)%><%= Meat.name_part(combo[2], 3)%></h1>
		<br>

		<% combo.each do |m| %>
			<div class="meat">
				<div class="thumbnail">
				<%= link_to image_tag(m.url, :class => "crop"), "/meats/#{m.id}" %>
				</div>
				<p><%= m[:name] %></p>
			</div>
		<% end %>



		<br>
		<% flash.each do |name, msg| -%>
      <%= content_tag :div, msg, class: "alert alert-success" %>
    	<% end -%>
	</div>	
</div>